/*--------UNIVERSAL-----------*/
/*-----------HIJAU ORANGE= BIRU -----------------*/
*,html,body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: white;
    overflow-x: hidden;
    font-size: 20px;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root{
    --biru-tua: #384279;
    --biru-muda: #93D8F8;
    --oren: #ff8750;
    --hijau: #DCE5BA;
}
.page{
    justify-content: center;
    display: flex;    
    flex-direction: column; 
    width:100%;
    height:100vh;
}

body::-webkit-scrollbar{
    width: 8px;
}
/*--------------Pages--------------------*/
.one{
    background-image: url('./images/BackgroundImage.jpg');  /*sumber freepik.com*/
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
}
.two{
    background-color: #5A42EE;
    height:1000px;
    overflow: hidden;
}
.three{
    background-color: #6d59ee;
    height:100vh;
}
/*--------------TopNavbar--------------------*/

.TopNavigation{
    display: flex;
    width:100%;
    padding:0 10px;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top:0;
    padding:0;
}

.logo img{
   position: relative;
   margin:15px;
   height:130px;
   width:110px;
}

.links{
    padding: 0 3rem 3rem 0; 
    /* border: 5px solid black; */
    font-size: 2rem;
    display: flex;
    cursor: pointer;
    
}
.links *{
    margin:5px;
    font-size: 1.5rem;
    font-weight: 600;
}

.sticky{
    height:100px;
    padding-top: 55px;
    overflow:hidden;
    align-items: center;
    transition: 0.3s;
    background-color: #263bb359;
    width:55%;
    position: fixed;
    top:0;
    right:0;
}
.sticky .logo{
    opacity: 0;
    transition: 0.2s;
}

.right-navbar{
    width: 450px;
    height:400px;
    background-color: transparent;
    overflow: hidden;
    right: 0;
    top: 10vh;
}
.right-navbar .sticky{
    transition: 0.1s;
    overflow: hidden;
}
.right-navbar .links{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.right-navbar .links *{
    margin: 5px 0;
    padding: 0;
}
a:hover{
    transition:0.1s;
    color: rgb(255, 0, 0);
}
/*--------------Title--------------------*/
.title{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 5rem;
    font-weight: 600;
}
h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}


/*-------Social Media----------*/
.socialMedia{
    height:auto;
    width:auto;
    position: absolute;
    bottom: 0;
    left:0;
    display:flex;
    flex-direction: column;
}
.icons{
    width: auto;
    height:auto;
    border: 1px solid black;
}



/*--------------PAGE2--------------------*/
.slider{
    position: relative;
    display:flex;
    overflow: hidden;
    width:100%;
    padding: 30px;
}

.owl-carousel{
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin:0 auto;
}

/*--------SEARCHBAR------------*/
.SearchBar{
    position: relative;
    left: 40%;
    height: 600px;
    width: 300px;
    display:flex;
    overflow:hidden;
    flex-direction: column;
    margin: 10px;
}
.SearchLabel{

font-size: 2rem;
text-align: center;
overflow: hidden;

}
#SearchInput{
 
    color:black;
    font-size: 1.5rem;
    padding: 10px;
    height:70px;
}


/*---------NEGARA----*/
.Negara{
    margin: 30px 0;
width: 100%;
text-align: center;

overflow: hidden;

height:500px;
}
.negara{
    font-size: 5rem;

}


/*--------Cards------------*/
.cards {
  position:relative;
  width: 400px;
  height: 400px;
  background: linear-gradient(-45deg,rgba(255, 255, 255, 0.452),rgba(255, 255, 255, 0.856));
  display:flex;
  flex-direction: column;
  border-radius: 17px;
  margin: auto 30px; 
  justify-content: center;
  color:black;

}

/*----inside Card-----*/
 
.cards-contain{
    color: white;
    font-size: 1.8rem;
    text-align:  center;

}
#result-one, #result-two,#result-three,#result-four,#result-five{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    transition: 0.3s;
}


/*----------PAGE 3 -------------------*/

.img{
    size: 60px;
    height: 100px;
    width: 100px;
}





/*-----------Fixed NAVBAR--------------*/

.fixedNavBar{
    position: fixed;
    left: 0;
    top:50%;
    background-color:none;
    width: 50px;
    height:50px;
    z-index:1000;
    color: white;
    display: block;
    overflow: hidden;
}

span{
left:-85px;
position: relative;
font-size: 1.4rem;
}

.prevents{
    justify-content: center;
    display: flex;
}
.prevents > img{
    margin: 10px;
}
.prevents > img:hover{
    height: 80px;
    width:80px;
    margin:auto;
}

.fixedNavBar:hover{
    animation:MovingTab 0.5s forwards;
}
@keyframes MovingTab{
    0%{
        width:350px;
    }
    100%{
        width:400px;
        height:400px;
        transition: 2s;

    }

}


.fixedNavBar:hover span{
left: 100px;    transition: 0.5s;  
}





/*-----------MEDIA QUERY--------------*/


/*-----------Small Screen--------------*/
@media only screen and (max-width:700px){

.sticky{
    display: none;
}
}

/*-----------Phone--------------*/
@media only screen and (max-width:500px){

.negara{
    font-size: 1.5rem;
}
.sticky{
        display: none;
    }
.logo{
    display:none
}

.links a{
    margin:5px;
    padding: 20px 1px;
    font-size:1rem;
}


h1{
    font-size: 2rem;
    font-weight: 600;
}
h2{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
}
.cards{
    width: 50px;
    height: 100px;
}

.SearchBar{
    left: 10%;
}
.SearchLabel{
    font-size: 1rem;
}
#SearchInput{
    height: 70px;
}
}

@media only screen and (max-width:720px){
    .cards{
        width: 300px;
      height: 300px;
    }

    .slider{
        margin: 30px
    }
}